In [72]:
import numpy as np
import pandas as pd

df = pd.read_csv('../../ml-dataset/kaggle-basico/attrition_Rate_Company.csv') # Carregando o dataset
meuSeed = 42 # Definindo uma semente para o random

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [73]:
df.iloc[0:10]

,EmployeeID,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,2,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Female,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,3,32,No,Travel_Frequently,Research & Development,17,4,Other,1,Male,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,4,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,Male,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,5,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,Male,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3
5,6,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,Female,...,28.0,5,7,7,7,3.0,2.0,2.0,3,3
6,7,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,Male,...,5.0,2,0,0,0,1.0,3.0,1.0,3,4
7,8,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,Male,...,10.0,2,0,0,0,1.0,2.0,3.0,3,4
8,9,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,Male,...,10.0,2,9,7,8,2.0,4.0,3.0,3,4
9,10,25,No,Non-Travel,Research & Development,7,4,Medical,1,Female,...,6.0,2,6,1,5,2.0,1.0,3.0,3,3

In [74]:
df.dtypes

EmployeeID                   int64
Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
JobInvolvement               int64
PerformanceRating            int64
dtype: object

In [75]:
df['Attrition'].value_counts()

Attrition
No     3699
Yes     711
Name: count, dtype: int64

In [76]:
df.isna().sum()

EmployeeID                  0
Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
JobInvolvement              0
PerformanceRating           0
dtype: int64

In [77]:
df_sem_nulos = df.dropna()
print(df_sem_nulos.isna().sum(), df_sem_nulos['Attrition'].value_counts())

EmployeeID                 0
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
JobInvolvement             0
PerformanceRating          0
dtype: int64 Attrition
No     3605
Yes     695
Name: count, dtype: int64

In [78]:
from sklearn.preprocessing import LabelEncoder

df_encoded = df_sem_nulos.copy() # Crie uma cÃ³pia do DataFrame

colunasCategoricas = ['Attrition', 'BusinessTravel', 'Department', 
                      'EducationField', 'Gender', 'JobRole', 'MaritalStatus']  # Substitua pelos nomes das colunas categÃ³ricas em seus dados
label_encoder = LabelEncoder() # Inicialize o LabelEncoder

# Aplique o LabelEncoder Ã s colunas categÃ³ricas nos dados de treinamento e teste
for col in colunasCategoricas:
    df_encoded[col] = label_encoder.fit_transform(df_encoded[col])

In [79]:
X = df_encoded.drop("Attrition", axis=1) # Todas as colunas, exceto Classe
y = df_encoded['Attrition'] # Apenas a coluna Classe

In [80]:
X.iloc[0:10]

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,JobLevel,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,51,2,2,6,2,1,1,0,1,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,2,31,1,1,10,1,1,1,0,1,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,3,32,1,1,17,4,4,1,1,4,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,4,38,0,1,2,5,1,1,1,3,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,5,32,2,1,10,1,3,1,1,1,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3
5,6,46,2,1,8,3,1,1,0,4,...,28.0,5,7,7,7,3.0,2.0,2.0,3,3
6,7,28,2,1,11,2,3,1,1,2,...,5.0,2,0,0,0,1.0,3.0,1.0,3,4
7,8,29,2,1,18,3,1,1,1,2,...,10.0,2,0,0,0,1.0,2.0,3.0,3,4
8,9,31,2,1,1,3,1,1,1,3,...,10.0,2,9,7,8,2.0,4.0,3.0,3,4
9,10,25,0,1,7,4,3,1,0,4,...,6.0,2,6,1,5,2.0,1.0,3.0,3,3

In [83]:
from imblearn.over_sampling import RandomOverSampler
ros =  RandomOverSampler(sampling_strategy=1)

X_resample, y_resample = ros.fit_resample(X, y)

contagemPositivo = len(y_resample[y_resample==1])
contagemNegativo = len(y_resample[y_resample==0])

print("AtriÃ§Ã£o negativo: {:.2f}%".format(
    (contagemNegativo / (len(y_resample))*100)
    ))
print("AtriÃ§Ã£o positivo: {:.2f}%".format(
    (contagemPositivo / (len(y_resample))*100)
    ))

AtriÃ§Ã£o negativo: 50.00%
AtriÃ§Ã£o positivo: 50.00%

In [85]:
X_resample.describe()

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,JobLevel,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
count,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.0,7210.000000,7210.000000,...,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000
mean,2203.664494,35.692649,1.611096,1.238696,9.168793,2.902219,2.180721,1.0,0.607490,2.044938,...,10.153814,2.735229,6.311650,2.094591,3.626214,2.610402,2.605270,2.726630,2.723162,3.161304
std,1265.098072,9.496062,0.638340,0.542315,7.938010,1.018491,1.318557,0.0,0.488343,1.080954,...,7.761124,1.249417,6.212793,3.180898,3.455434,1.138892,1.114887,0.754345,0.736786,0.367836
min,1.000000,18.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.0,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,1086.250000,29.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.0,0.000000,1.000000,...,5.000000,2.000000,2.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,3.000000
50%,2193.500000,34.000000,2.000000,1.000000,7.000000,3.000000,2.000000,1.0,1.000000,2.000000,...,9.000000,3.000000,5.000000,1.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,3319.000000,42.000000,2.000000,2.000000,14.000000,4.000000,3.000000,1.0,1.000000,3.000000,...,13.000000,3.000000,9.000000,2.000000,7.000000,4.000000,4.000000,3.000000,3.000000,3.000000
max,4409.000000,60.000000,2.000000,2.000000,29.000000,5.000000,5.000000,1.0,1.000000,5.000000,...,40.000000,6.000000,40.000000,15.000000,17.000000,4.000000,4.000000,4.000000,4.000000,4.000000